body {
	font-size: 20px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #333;
}

h1, h2{
	margin: 0;
	font-size: 50px;
	line-height: 55px;
	font-family: 'Poppins', serif;
	font-weight: 600;
	letter-spacing: -1px;
}

h2 {
	font-size: 40px;
	font-weight: 500;
}

h3, h4, h5{
	margin: 0;
}

h3 {
    font-weight: 400;
	font-size: 22px;
	line-height: 26px;
}

h4{
	font-size: 18px;
	font-weight: 700;
}

h5{
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

a {
	color: #58A2D8;
	text-decoration: none;
	font-weight: 400;
}

a:hover{
	color: #333;
	text-decoration: underline;
}

a.button{
	display: inline-block;
	line-height: 25px;
    margin: 20px 0;
	padding: 15px;
	background-color: #58A2D8;
	border-radius: 3px;
	text-shadow: none;
	color: white;
	font-size: 20px;
	opacity: 0.8;
	border: 1px solid #58A2D8;
}

a.button:hover{
	text-decoration: none;
	opacity: 1;
}

a.button.hollow{
	background-color: transparent;
	color: #58A2D8;
	opacity: 1;
}

a.button.hollow:hover{
	background-color: #58A2D8;
	color: white !important;
}

hr {
	margin: 40px auto 40px;
	border: none;
	border-bottom: 1px solid #ccc;
}

section{
	padding-top: 50px;
}

b, strong{
  color: #333;
  font-weight: 400;
}

iframe {
  max-width: 100%;
}

.red{
  color: #F26565;
}

.well{
  clear: both;
  padding: 40px 50px;
  margin: 40px -20px;
  font-size: 16px;
  line-height: 22px;
  color: #666;
}

.col3{
  width: 33%;
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
}

ol {
  font-size: 20px;
  font-weight: 300;
  color: #333;
  }
  
ol li+li, ul li+li {
  padding-top: 5px;
  }
  
.dropcap {
  font-size: 60px;
  font-weight: 500;
  padding-top: 15px;
  padding-right: 6px;
  line-height: 20px;
  float: left;
  }


/* UTILITY */
.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.clear-both {
	clear: both;
}
img.right{
  float: right;
}
img.left{
  float: left;
}
img {
  max-width: 100%;
}

/* HEADER */
#header{
	height: 75px;
	padding: 25px 0 0 30px;
}

#header *{
	height: 50px
}

.fixed-header {
  padding-top: 100px;
}

.fixed-header #header{
  position: fixed;
  top: 0;
  z-index: 2;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.25);
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

.fixed-header #header *{
  height: 30px
}

nav{
	float: right;
	line-height: 50px;
}

.fixed-header nav {
  line-height: 30px;
}

nav a{
	margin-right: 30px;
	font-size: 20px;
	font-weight: bold;
}

nav a:hover{
    text-decoration: none;
    color: #333;
}

#menu:hover {
	cursor: pointer;
}

#menu{
    display: none;
    text-align: right;
}

#announcement{
	background-color: #595959;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0 10px;
	text-align: center;
	color: white;
}

#announcement a{
	color: #57a1d7;
}

/* HOME VIDEO */
#home-video, #home-video #page-title{
	width: 100%;
	height: calc( 100% - 100px );
	overflow: hidden;
}

#home-video #page-title{
	position: absolute;
	top: 100px;
	left: 0;
	background-image: url(../images/video-mask.png);
	background-size: cover;
	color: white;
	text-shadow: 0 0 5px black;
}

#home-video #page-title div, #home-video #scroll-indicator{
	position: absolute;
}

#home-video #page-title div{
	padding: 0 10% 20px 50px;
	bottom: 0;
}

#home-video #page-title p{
	margin: 0px;
}

#home-video #page-title #company{
    display: inline-block;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
	}

#home-video #scroll-indicator{
	width: 100%;
	opacity: 0;
	margin: 0 0 20px -50px;
	font-size: 26px;
	line-height: 30px;
	font-weight: bold;
	color: #58A2D8;
	text-align: center;
}

#scroll-indicator a:hover {
  color: #58A2D8;
  text-decoration: none;
}

/* FOOTER */
footer{
  padding: 40px 80px;
  background-color: #EFF1F2;
  font-size: 16px;
  line-height: 22px;
  clear: both;
}

footer h4{
  font-size: 16px;
}

footer h4 a {
  color: #333;
  font-weight: 700;
}

footer > div{
  width: calc( 25% - 40px );
  float: left;
  padding: 0 20px;
}

footer > hr{
  clear: both;
  margin: 0px 20px 40px;
}

footer img.logo{
  padding: 0px 20px;
  }

footer iframe.twitter-timeline{
  min-height: 395px !important;
}

footer p.legal{
  clear: both;
  color: #999;
  width: 75%;
  margin: auto;
  text-align: center;
}

/* PORTFOLIO */
#featured-projects, #all-projects {
  text-align: center;
	background-color: #EFF1F2;
	padding-bottom: 20px;
}

#featured-projects .button{
	margin: 20px
}

#project-grid{
	margin: 10px 40px;
	padding-bottom: 0px;
}

#project-grid a.project{
	padding: 20px 20px 10px 20px;
	margin: 20px;
	width: calc( 50% - 85px );
	min-width: 260px;
	color: #333;
	height: 290px;
	display: inline-block;
	background-color: white;
	border-radius: 3px;
}

.grid-image{
	height: 220px;
	width: 100%;
	margin-bottom: 10px;
	background-size: 975px 305px;
	background-position: top left;	
  transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

a.project:hover .grid-image{
  background-position: bottom right;
	transition: all 5s ease-in-out;
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
}

#project-list {
  margin: 10px 40px;
}

.project-short {
  max-width: 980px;
  background-color: white;
  margin: 0 auto 40px;
  padding: 20px;
}

.project-short .banner-image {
  display: block;
  margin: 0 auto 20px;
}

.project-short p {
  text-align: left;
  font-size: 16px;
}

.project-short h4 a {
  color: #333;
  font-weight: 700;
}

#project h2, #project-metadata h2 {
  line-height: 45px;
  padding-bottom: 10px;
  }

/* CLIENTS */
#clients{
	margin: 0 40px;
}

#clients h4{
	text-indent: 20px;
	text-align: center;
}

#clients div{
	text-align: center;
	margin-top: 20px;
}

#clients .section-title{
    margin-top: 0px;
    }

#clients img{
	margin: 20px;
}

/* TOOLS */
#tools{
  margin: 10px 60px;
  padding-bottom: 40px;
}

#tools {
  padding-top: 10px;
}

#tools .section-title{
  text-align: center;
}

.tool{
  max-width: 980px;
  margin: 36px auto;
  clear: both;
  padding: 20px;
}

.tool div, .element div{
  padding: 0 30px;
  display: table-cell;
  vertical-align: middle;
  height: 250px;
}

.tool h4{
  font-size: 20px;
}

.tool p{
  margin: 5px 0px 0px;
  color: #666;
  line-height: 32px;
}

.tool .img{
  float: right;
  height: 250px;
  max-width: 20%;
  width: 320px;
  margin: 0 0 0 20px;
}

.tool:nth-child(even) .img{
  float: left;
  margin: 0 20px 0 0;
}

.guide{
  background-color: #f8f1fa;
}
  
.guide a.button.hollow{
  border-color: #A968B5;
  color: #A968B5;
}

.guide a.button.hollow:hover{
  background-color: #A968B5;
  color: white;
}

.indiemapper{
  background-color: #edf5fa;
}

.colorbrewer{
  background-color: #f4fbf9;
}

.colorbrewer a.button.hollow{
  border-color: #398E7A;
  color: #398E7A;
}

.colorbrewer a.button.hollow:hover{
  background-color: #398E7A;
}

.typographic{
  background-color: #f7f2e9;
}

.typographic a.button.hollow{
  border-color: #BA8B36;
  color: #BA8B36;
}

.typographic a.button.hollow:hover{
  background-color: #BA8B36;
}

/* ABOUT, TEAM, CONTACT */
#about, #team, #contact{
  margin: 20px 20%;
  text-align: center;
  line-height: 26px;
  padding-top: 10px;
}

.element p{
  line-height: 32px;
  margin-top: 0px;
  }

#data-design-code, #personnel{
  margin: 20px 80px 80px;
  padding-top: 10px;
}

#personnel {
  margin-top: 0;
}

#about p, #team p, #contact p{
  text-align: left;
  color: #333;
  line-height: 32px;
}

#data-design-code p, #personnel p{
  color: #333;
}

img.madison {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.person {
  margin-bottom: 80px;
}

.person img {
  width: 150px;
}

.person div {
  margin-left: 200px;
}

.person h3 a {
  color: #333;
}

span.big{
font-size: 30px;
}

/* PROJECT */
#project{
  text-align: center;
}

img.banner {
  display: block;
  margin: auto;
}

#poster > *{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
	position: relative;
}

#project-entry, #project-metadata{
  padding: 20px 90px;
  clear: both;
}

#project-metadata ul a{
  font-size: 18px;
  }

#project-entry p{
  color: #333;
  line-height: 32px;
  }
  
#project h5{
  color: #333;
  padding-top: 10px;
  }
  
#project h3{
  font-style: italic;
  letter-spacing: 0.5px;
  }

#features{
  float: right;
  padding-left: 50px;
  padding-bottom: 30px;
  margin-top: -20px;
  width: 300px;
  font-size: 16px;
  font-style: regular;
  font-weight: 300;
  color: #333;
  line-height: 19px;
  text-align: center;
}

#features span{
  padding-top: 5px;
  display: inline-block;
} 

#features img{
  width: 100%;
  margin-top: 40px;
  cursor: pointer;
}

#related{
  padding: 40px 0px;
  border-top: 1px solid #ccc;
}

#related h4{
  padding-bottom: 5px;
}

#built-for .logo-image{
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

#project-metadata ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#next-project, #built-for{
  display: table;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 40px 0;
}

#next-project{
  padding-top: 60px;
  }

#next-project > div, #built-for > div{
  vertical-align: middle;
}

#next-project > div{
  display: table-cell;
}

#built-for > div{
  margin-right: 250px;
}

#next-project .grid-image, #built-for .logo-image{
  width: 320px;
  float: right;
  margin-right: 40px;
}

#next-project .grid-image{
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
  
#next-project .grid-image:hover{
  background-position: bottom right;
  transition: all 5s ease-in-out;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
}

.image-modal {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.image-modal div {
  text-align: center;
}

.image-modal div span {
  display: inline-block;
  padding: 0 20px;
}

.image-modal img {
  max-width: 95%;
  max-height: 95%;
}

.image-modal i {
  position: absolute;
  font-size: 40px;
  cursor: pointer;
}

.image-modal i:hover{
  color: black;
}

.image-modal i.disabled, .image-modal i.disabled:hover {
  color: #666;
}

.image-modal .icon-times {
  right: 20px;
  top: 20px;
}

.image-modal .icon-left-dir, .image-modal .icon-right-dir {
  top: 50%;
  margin-top: -20px;
}

.image-modal .icon-left-dir {
  left: 20px;
}

.image-modal .icon-right-dir {
  right: 20px;
}

/* Guides */

section#guides, section.guide-content {
  margin: 0 80px 80px;
  padding-top: 0;
}

.guide-content img {
  max-width: 100%;
}

span.caption {
  display: block;
  font-size: .75em;
  font-style: italic;
}

.guide-content h2 {
  font-size: 36px;
  margin: 30px 0;
}

.guide-content h3 {
  font-size: 28px;
  font-weight: 500;
  margin-top: 40px;
}

#guide-banner {
  padding: 20px 0;
  background: url(../images/guide_banner.jpg);
  text-shadow: 0 0 5px black;
  margin-bottom: 50px;
}

#guide-banner a, #guide-banner a:hover {
  color: white;
  text-decoration: none;
}

#guide-banner h2, #guide-banner h3 {
  margin: auto 80px;
  color: white;
}

.guide-content h4 {
  font-size: 24px;
  font-weight: 500;
}

.guide-content ol {
  font-weight: 300;
}

/* BLOG */

#blog {
  margin: 20px 80px 80px;
}

#blog.blogroll article {
  margin-bottom: 40px;
}

#blog.blogroll article hr {
  margin-bottom: 60px;
}

#blog h1 {
  font-size: 40px;
}

#blog h1 a {
  color: #333;
}

#blog h2 {
  font-size: 32px;
}

#blog .share-excerpt {
  font-size: 16px;
  background-color: #EFF1F2;
  margin-bottom: 40px;
}

#blog .share-links {
  display: inline-block;
  margin-left: 15px;
}

#blog .share-links a {
  margin-right: 15px;
}

#blog .metadata {
  margin: 15px 0;
}

#blog .metadata > div {
  display: inline-block;
  margin-right: 15px;
}

#blog .pagination {
  text-align: center;
}

#blog .pagination-section {
  display: inline-block;
  margin: 0 15px;
}

#blog .mini-portfolio {
  font-size: 16px;
  line-height: 18px;
  padding: 0 15px
}

#blog img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: auto;
}

/* RESPONSIVE STYLES */

@media (max-width: 850px) {

  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 32px;
  }

  h1, h2 {
    line-height: 50px;
  }
  
  #project-grid a.project {
    width: calc( 100% - 105px );
  }

  footer > div{
    width: calc( 50% - 40px );
  }
  
  .tool .img, .tool:nth-child(even) .img{
    float: none;
    display: block;
    height: 250px;
    max-width: 250px;
    margin: 0px auto 20px;
  }
  
  .tool div {
    text-align: center;
    }
    
  .tool {
    padding: 40px 20px 0px;
  }
}

@media (max-width: 650px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h1, h2 {
    line-height: 50px;
  }

  section {
    padding-top: 20px;
  }

  hr {
    margin: 20px auto 20px;
  }

  #header {
    padding-left: 0;
  }

  #header .logo {
    margin-left: 20px;
    height: 50px;
  }

  .fixed-header #header .logo {
    height: 30px;
  }

  #header nav #links a{
    display: block;
  }
  
  #menu {
    display: block;
    float: right;
    line-height: 45px;
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
  }

  .fixed-header #menu {
    line-height: 30px;
  }
  
  #header nav{
    width: 100%;
    position: absolute;
    z-index: 1;
  }
 
  #header nav #links{ 
    float: right;
    text-align: center;
    padding: 10px 20px;
    background: white;
    height: auto;
    display: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  }

  #home-video #page-title div {
    padding: 20px;
  }

  #home-video #page-title div#scroll-indicator {
    padding-bottom: 100px;
    width: auto;
    right: 0;
  }

  #project-grid {
    margin: 0;
  }

  #project-grid a.project {
    height: auto;
    min-width: 240px;
  }

  #clients {
    margin: 0;
  }

  #clients .section-title {
    padding: 0 10px;
  }

  #clients img {
    margin: 10px;
    max-height: 30px;
    max-width: 100px;
  }

  #tools {
    margin: 10px 20px;
  }

  #project, #project-entry, #project-metadata {
    padding: 20px;
  }

  #features {
    float: none;
    padding-left: 0;
    width: auto;
  }

  #built-for > div {
    margin-right: auto;
  }

  #built-for .logo-image {
    float: none;
    width: auto;
    margin-right: 0;
  }

  #next-project > div {
    display: block;
  }

  #about, #team, #contact, #data-design-code, #personnel {
    margin: 20px;
  }

  .tool div, .element div {
    padding: 0;
  }

  .well {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .col3 {
    width: auto;
    float: none;
    margin-bottom: 1em;
    padding: 0;
  }

  .person div {
    margin-left: 0;
  }

  #guide-banner h2, #guide-banner h3 {
    margin: auto 20px;
  }

  section#guides, section.guide-content {
    margin: 0 20px 80px;
  }

  #blog {
    margin: 20px;
  }

  #blog.blogroll article hr {
    margin-bottom: 40px;
  }

  footer {
    padding: 20px ;
  }

  footer > div {
    float: none;
    width: auto;
  }
}
