body {
	font-size: 20px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #333;
}

h1, h2{
	margin: 0;
	font-size: 50px;
	line-height: 55px;
	font-family: 'Poppins', serif;
	font-weight: 600;
	letter-spacing: -1px;
}

h2 {
	font-size: 40px;
	font-weight: 500;
}

h3, h4, h5{
	margin: 0;
}

h3 {
    font-weight: 400;
	font-size: 22px;
	line-height: 26px;
}

h4{
	font-size: 18px;
	font-weight: 700;
}

h5{
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

a {
	color: #58A2D8;
	text-decoration: none;
	font-weight: 400;
}

a:hover{
	color: #333;
	text-decoration: underline;
}

a.button, button.submit{
	display: inline-block;
  line-height: 25px;
  font-family: 'Lato', sans-serif;
  margin: 20px 0;
	padding: 15px;
	background-color: #58A2D8;
	border-radius: 3px;
	text-shadow: none;
	color: white;
	font-size: 20px;
	opacity: 0.8;
	border: 1px solid #58A2D8;
}

a.button:hover{
	text-decoration: none;
	opacity: 1;
}

a.button.hollow{
	background-color: transparent;
	color: #58A2D8;
	opacity: 1;
}

a.button.hollow:hover{
	background-color: #58A2D8;
	color: white !important;
}

a.button.small {
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
}

hr {
	margin: 40px auto 40px;
	border: none;
	border-bottom: 1px solid #ccc;
}

section{
  padding-top: 50px;
  clear: both;
}

b, strong{
  color: #333;
  font-weight: 400;
}

iframe {
  max-width: 100%;
}

.red{
  color: #F26565;
}

.well{
  clear: both;
  padding: 40px 50px;
  margin: 40px -20px;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.col3{
  width: 33%;
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
}

ol {
  font-size: 20px;
  font-weight: 300;
  color: #333;
  }
  
ol li+li, ul li+li {
  padding-top: 5px;
  }
  
.dropcap {
  font-size: 60px;
  font-weight: 500;
  padding-top: 15px;
  padding-right: 6px;
  line-height: 20px;
  float: left;
}

section > i:first-child{
  font-size: 30px;
  color: #E34A33;
}


/* UTILITY */
.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.clear-both {
	clear: both;
}
img.right{
  float: right;
}
img.left{
  float: left;
}
img {
  max-width: 100%;
}

/* HEADER */
#header{
	height: 75px;
	padding: 25px 0 0 30px;
}

#header *{
	height: 50px
}

.fixed-header {
  padding-top: 100px;
}

.fixed-header #header{
  position: fixed;
  top: 0;
  z-index: 2;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.25);
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

.fixed-header #header *{
  height: 30px
}

nav{
	float: right;
	line-height: 50px;
}

.fixed-header nav {
  line-height: 30px;
}

.fixed-header .contact-button{
  padding: 5px 15px;
  margin-left: -10px;
  background-color: #58A2D8;
  color: white;
  border-radius: 3px;
}

.fixed-header .contact-button:hover{
  color: black;
}

nav a{
	margin-right: 30px;
	font-size: 20px;
	font-weight: bold;
}

nav a:hover{
    text-decoration: none;
    color: #333;
}

nav a.active {
  text-decoration: underline;
}

#menu:hover {
	cursor: pointer;
}

#menu{
    display: none;
    text-align: right;
}

#announcement{
	background-color: #595959;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0 10px;
	text-align: center;
	color: white;
}

#announcement a{
	color: #57a1d7;
}

/* ERROR */
#error{
  height: calc(100vh - 100px);
  background-image: url(../images/404.png);
  background-size: cover;
  box-sizing: border-box;
  display:flex;
  justify-content:center;
  align-items:center;
}

#error > div {
  margin-top: -100px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* HOME VIDEO */
#home-video, #home-video #page-title{
	width: 100%;
	height: 500px;
	overflow: hidden;
}

#home-video #page-title{
	position: absolute;
	top: 100px;
	left: 0;
	background-image: url(../images/video-mask.png);
	background-size: cover;
	color: white;
	text-shadow: 0 0 5px black;
}

#home-video #page-title div, #home-video #scroll-indicator{
	position: absolute;
}

#home-video #scroll-indicator {
  display: none;
}

#home-video #page-title div{
	padding: 0 50px 20px 50px;
	bottom: 0;
}

#home-video #page-title p{
	margin: 0px;
}

#home-video #page-title #company{
  display: inline-block;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
}

#home-video #page-title #scroll-indicator{
	width: 200px;
  left: 50%;
	opacity: 0;
	margin: 0 0 120px -100px;
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #58A2D8;
	text-align: center;
	text-transform: uppercase;
  padding: 0;
  cursor: pointer;
}

#home-video .video-contact-button {
  text-align: center;
}

/* FOOTER */
footer{
  padding: 40px 80px;
  background-color: #EFF1F2;
  font-size: 16px;
  line-height: 22px;
  clear: both;
}

footer h4{
  font-size: 16px;
}

footer h4 a {
  color: #333;
  font-weight: 700;
}

footer > div{
  width: calc( 25% - 40px );
  float: left;
  padding: 0 20px;
}

footer > hr{
  clear: both;
  margin: 0px 20px 40px;
}

footer img.logo{
  padding: 0px 20px;
  }

footer iframe.twitter-timeline{
  min-height: 395px !important;
  max-height: 500px !important;
}

footer p.legal{
  clear: both;
  color: #999;
  width: 75%;
  margin: auto;
  text-align: center;
}

/* PORTFOLIO */
#featured-projects, #all-projects {
  text-align: center;
	background-color: #EFF1F2;
  padding-bottom: 20px;
}

#featured-projects .button{
	margin: 20px
}

#project-grid{
	margin: 10px 40px;
	padding-bottom: 0px;
}

#project-grid a.project{
	padding: 20px 20px 10px 20px;
	margin: 20px;
	width: calc( 50% - 85px );
	min-width: 260px;
	color: #333;
	height: 290px;
	display: inline-block;
	background-color: white;
	border-radius: 3px;
}

#project-grid a.project h4{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#project-grid a.project h5{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-image{
	height: 220px;
	width: 100%;
	margin-bottom: 10px;
	background-size: 975px 305px;
	background-position: top left;	
  transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

a.project:hover .grid-image{
  background-position: bottom right;
	transition: all 5s ease-in-out;
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
}

#project-list {
  margin: 10px 40px;
}

.project-short {
  max-width: 980px;
  background-color: white;
  margin: 0 auto 40px;
  padding: 20px;
}

.project-short .banner-image {
  display: block;
  margin: 0 auto 20px;
}

.project-short p {
  text-align: left;
  font-size: 16px;
}

.project-short h4 a {
  color: #333;
  font-weight: 700;
}

#project h2, #project-metadata h2 {
  line-height: 45px;
  padding-bottom: 10px;
  }

/* CLIENTS */
#clients{
  margin: 0 40px;
  padding-bottom: 50px;
}

#clients h4{
	text-indent: 20px;
	text-align: center;
}

#clients div{
	text-align: center;
	margin-top: 20px;
}

#clients .section-title{
    margin-top: 0px;
    }

#clients img{
	margin: 15px;
  max-width: 125px;
}

/* TOOLS */
#tools{
  margin: 10px 60px;
  padding-bottom: 40px;
}

#tools {
  padding-top: 10px;
}

#tools .section-title{
  text-align: center;
}

.tool{
  max-width: 980px;
  margin: 36px auto;
  clear: both;
  padding: 20px;
}

.tool div, .element div{
  padding: 0 30px;
  display: table-cell;
  vertical-align: middle;
  height: 250px;
}

.tool h4{
  font-size: 20px;
}

.tool p{
  margin: 5px 0px 0px;
  color: #666;
  line-height: 32px;
}

.tool .img{
  float: right;
  height: 250px;
  max-width: 20%;
  width: 320px;
  margin: 0 0 0 20px;
}

.tool:nth-child(even) .img{
  float: left;
  margin: 0 20px 0 0;
}

.guide{
  background-color: #f8f1fa;
}
  
.guide a.button.hollow{
  border-color: #A968B5;
  color: #A968B5;
}

.guide a.button.hollow:hover{
  background-color: #A968B5;
  color: white;
}

.indiemapper{
  background-color: #edf5fa;
}

.colorbrewer{
  background-color: #f4fbf9;
}

.colorbrewer a.button.hollow{
  border-color: #398E7A;
  color: #398E7A;
}

.colorbrewer a.button.hollow:hover{
  background-color: #398E7A;
}

.typographic{
  background-color: #f7f2e9;
}

.typographic a.button.hollow{
  border-color: #BA8B36;
  color: #BA8B36;
}

.typographic a.button.hollow:hover{
  background-color: #BA8B36;
}

/* INDUSTRIES */
#intro{
  background: #e7f4fc;
  background-color: #EFF1F2;
  background: -moz-linear-gradient(-45deg, #e7f4fc 0%, #fff6e6 100%);
  background: -webkit-linear-gradient(-45deg, #e7f4fc 0%,#fff6e6 100%);
  background: linear-gradient(-45deg, #e7f4fc 0%,#fff6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f4fc', endColorstr='#fff6e6',GradientType=0 );
  padding: 40px 20%;
}

#intro p{
  font-size: 24px;
  line-height: 30px;
}

#intro p:first-child:first-letter {
  float: left;
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;
  padding-right: 4px;
  padding-top: 4px;
}

a#contact-bar{
  background-color: #58A2D8;
  color: white;
  font-weight: 300;
  padding: 30px;
  margin: 30px auto;
  display: inline-block;
}

a#contact-bar b{
  color: white;
  font-weight: 700;
}

section#icons, section#case-studies{
  margin: 0 10%;
}

section#icons h2, section#case-studies h2{
  text-align: center;
  margin-bottom: 20px;
}

div.services {
  display: flex;
}

.icon-service{
  padding-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.icon-service .fa-layers{
  margin: 0 0 10px -10px;
}

.icon-service p{
  font-size: 16px;
  margin: 0.25em 0;
}

.icon-service a.button {
  margin-top: 0;
}

.case-study.left{
  margin-left: -10vw;
}

.case-study.right{
  margin-right: -10vw;
}

.case-study .title-container{
  width: 100vw;
  display:flex;
  justify-content:center;
  align-items:center;
}

.case-study.right .title-container{
  margin-left: -10vw;
}

.case-study h3{
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  margin-bottom: 40px;
  padding: 10px 50px;
  text-align: center;
}

.case-study.color-red h3{
  background-color: #E34A33;
}

.case-study.color-purple h3{
  background-color: #763E74;
}

.case-study.color-green h3{
  background-color: #318850;
}

.case-study > img, .case-study blockquote{
  float: left;
  margin: 30px 40px 80px 0;
}

.case-study > img{
  max-height: 480px;
  max-width: 40%;
  float: left;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.case-study.right > img{
  float: right;
  margin-left: 40px;
  margin-right: 0;
}

.case-study blockquote{
  clear: both;
  width: 30%;
  margin-left: 5%;
  margin-right: calc(5% + 40px);
  box-sizing: border-box;
  border-left: 2px solid black;
  padding-left: 30px;
}

.case-study.right blockquote{
  margin-right: 5%;
  margin-left: calc(5% + 40px);
  padding-right: 30px;
  float: right;
}

.case-study.color-red blockquote{
  border-left-color: #E34A33;
}

.case-study.color-purple blockquote{
  border-left-color: #763E74;
}

.case-study.color-purple blockquote{
  border-left-color: #318850;
}

.case-study blockquote::before{
  content: '“';
  font-size: 150px;
  position: absolute;
  margin: -10px;
}

.case-study.color-red blockquote::before{
  color: #E34A33;
}

.case-study.color-purple blockquote::before{
  color: #763E74;
}

.case-study.color-purple blockquote::before{
  color: #318850;
}

.case-study .project-title{
  padding: 30px 0;
}

.case-study.right .project-title{
  padding-left: 40px;
  margin-left: -40px;
}

.case-study.color-red .project-title{
  background-color: #FDF0ED;
}

.case-study.color-purple .project-title{
  background-color: #FAF0FA;
}

.case-study.color-green .project-title{
  background-color: #EFF8F2;
}

.project-title p{
  margin-bottom: 0;
}

/* ABOUT, TEAM, CONTACT */
section.text{
  margin: 20px 20%;
  text-align: center;
  line-height: 26px;
  padding-top: 10px;
}

.element p{
  line-height: 32px;
  margin-top: 0px;
  }

#data-design-code, #personnel{
  margin: 20px 80px 80px;
  padding-top: 10px;
}

#personnel {
  margin-top: 0;
}

section.text p{
  text-align: left;
  color: #333;
  line-height: 32px;
}

#data-design-code p, #personnel p{
  color: #333;
}

#madison img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

#madison p {
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 16px;
}

.person {
  margin-bottom: 80px;
}

.person img {
  width: 150px;
}

.person div {
  margin-left: 200px;
}

.person h3 a {
  color: #333;
}

span.big{
font-size: 30px;
}

.contact{
  background-color: #EFF1F2;
  padding: 30px;
}

.contact h4, .newsletter h4{
  text-align: left;
}

.newsletter{
  background-color: #E7F4FC;
  float: left;
  width: 50%;
  padding: 20px;
  margin: 0 40px 40px 0;
  box-sizing: border-box;
}

form input, form textarea {
  width: 100%;
  padding: 10px 25px;
  margin: 0 0 10px 0;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form label{
  font-weight: 700;
  font-size: 16px;
}

button.submit{
  margin-bottom: 0;
  margin-top: 0;
}

.sending{
  font-weight: bold;
  line-height: 60px;
  display: none;
}

.send-message{
  text-align: left;
  text-indent: -42px;
  margin-left: 50px;
  display: none;
}

/* PROJECT */
#project{
  text-align: center;
}

img.banner {
  display: block;
  margin: auto;
}

#poster > *{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
	position: relative;
}

#project-entry, #project-metadata{
  padding: 20px 90px;
  clear: both;
}

#project-metadata ul a{
  font-size: 18px;
  }

#project-entry p{
  color: #333;
  line-height: 32px;
  }
  
#project h5{
  color: #333;
  padding-top: 10px;
  }
  
#project h3{
  font-style: italic;
  letter-spacing: 0.5px;
  }

#features{
  float: right;
  padding-left: 50px;
  padding-bottom: 30px;
  margin-top: -20px;
  width: 300px;
  font-size: 16px;
  font-style: regular;
  font-weight: 300;
  color: #333;
  line-height: 19px;
  text-align: center;
}

#features span{
  padding-top: 5px;
  display: inline-block;
} 

#features img{
  width: 100%;
  margin-top: 40px;
  cursor: pointer;
}

#related{
  padding: 40px 0px;
  border-top: 1px solid #ccc;
}

#related h4{
  padding-bottom: 5px;
}

#built-for .logo-image{
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

#project-metadata ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#next-project, #built-for{
  display: table;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 40px 0;
}

#next-project{
  padding-top: 60px;
  }

#next-project > div, #built-for > div{
  vertical-align: middle;
}

#next-project > div{
  display: table-cell;
}

#built-for > div{
  margin-right: 250px;
}

#next-project .grid-image, #built-for .logo-image{
  width: 320px;
  float: right;
  margin-right: 40px;
}

#next-project .grid-image{
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
  
#next-project .grid-image:hover{
  background-position: bottom right;
  transition: all 5s ease-in-out;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
}

.image-modal {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.image-modal > div {
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-modal div > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.image-modal div span {
  display: inline-block;
  padding: 0 20px;
}

.image-modal img {
  max-width: 95%;
  max-height: 95%;
}

.image-modal .svg-inline--fa {
  position: absolute;
  font-size: 40px;
  cursor: pointer;
}

.image-modal i:hover{
  color: black;
}

.image-modal .fa-times-circle {
  right: 20px;
  top: 20px;
}

.image-modal .fa-caret-left, .image-modal .fa-caret-right {
  top: 50%;
  margin-top: -20px;
}

.image-modal .fa-caret-left {
  left: 20px;
}

.image-modal .fa-caret-right {
  right: 20px;
}

/* Guides */

.license{
  font-size: 15px;
}

section#guides, section.guide-content {
  margin: 0 80px 80px;
  padding-top: 0;
}

.guide-content img {
  max-width: 100%;
}

span.caption {
  display: block;
  font-size: .75em;
  font-style: italic;
}

.guide-content h2 {
  font-size: 36px;
  margin: 30px 0;
}

.guide-content h3 {
  font-size: 28px;
  font-weight: 500;
  margin-top: 40px;
}

#guide-banner {
  padding: 20px 0;
  background: url(../images/guide_banner.jpg);
  text-shadow: 0 0 5px black;
  margin-bottom: 50px;
}

#guide-banner a, #guide-banner a:hover {
  color: white;
  text-decoration: none;
}

#guide-banner h2, #guide-banner h3 {
  margin: auto 80px;
  color: white;
}

.guide-content h4 {
  font-size: 24px;
  font-weight: 500;
}

.guide-content ol {
  font-weight: 300;
}

/* BLOG */

#blog {
  margin: 20px 80px 80px;
}

#blog.blogroll article {
  margin-bottom: 40px;
}

#blog.blogroll article hr {
  margin-bottom: 60px;
}

#blog h1 {
  font-size: 40px;
}

#blog h1 a {
  color: #333;
}

#blog h2 {
  font-size: 32px;
}

#blog .share-excerpt {
  font-size: 16px;
  background-color: #EFF1F2;
  margin-bottom: 40px;
}

#blog .share-links {
  display: inline-block;
  margin-left: 15px;
}

#blog .share-links a {
  margin-right: 15px;
}

#blog .metadata {
  margin: 15px 0;
}

#blog .metadata > div {
  display: inline-block;
  margin-right: 15px;
}

#blog .metadata > div.twitter a {
  color: #333;
  font-weight: 300;
}

#blog .metadata > div.twitter > .fa-twitter {
  color: #999;
}

#blog .pagination {
  text-align: center;
}

#blog .pagination-section {
  display: inline-block;
  margin: 0 15px;
}

#blog .mini-portfolio {
  font-size: 16px;
  line-height: 18px;
  padding: 0 15px
}

#blog img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/* RESPONSIVE STYLES */

@media (max-width: 1000px) {
  section.text {
    margin: 20px 10%;
  }

  #intro {
    padding: 40px 10%;
  }
}

@media (max-width: 850px) {

  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 32px;
  }

  h1, h2 {
    line-height: 50px;
  }

  #home-video #page-title p {
    display: none;
  }

  #home-video #page-title p.video-contact-button {
    display: block;
  }
  
  #project-grid a.project {
    width: calc( 100% - 105px );
  }

  div.services {
    flex-direction: column;
  }

  .icon-service p.learn-more {
    text-align: center;
  }

  .icon-service, .newsletter{
    margin-right: 0;
    padding-right: 0;
  }
  
  .tool .img, .tool:nth-child(even) .img{
    float: none;
    display: block;
    height: 250px;
    max-width: 250px;
    margin: 0px auto 20px;
  }
  
  .tool div {
    text-align: center;
    }
    
  .tool {
    padding: 40px 20px 0px;
  }
  
  #features{
  width: 220px;
  }

  #data-design-code .element img.right, #data-design-code .element img.left {
    float: none;
    display: block;
    margin: 0 auto 15px auto;
  }

  footer {
    padding: 20px 80px;
  }

  footer > div {
    float: none;
    width: auto;
  }

  footer h4 {
    margin-top: 10px;
  }

  footer p {
    margin: 5px 0;
    line-height: 18px;
  }

  footer > div.footer-nav p {
    display: inline-block;
    padding-right: 10px;
    margin: 5px 0;
  }

  footer > a, footer > hr {
    display: none;
  }

  .pagenav-section {
    float: left !important;
  }

  footer .blog-links p:nth-child(n+7) {
    display: none;
  }
}

@media (max-width: 650px), (max-height: 650px) and (orientation: landscape) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h1, h2 {
    line-height: 50px;
  }

  section {
    padding-top: 20px;
  }

  hr {
    margin: 20px auto 20px;
  }

  #header {
    padding-left: 0;
  }

  #header .logo {
    margin-left: 20px;
    height: 50px;
  }

  .fixed-header #header .logo {
    height: 30px;
  }
  
  #menu {
    display: block;
    float: right;
    line-height: 45px;
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
  }

  .fixed-header #menu {
    line-height: 30px;
  }
  
  #header nav{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 50px;
  }
 
  #header nav #links{ 
    float: right;
    text-align: center;
    padding: 10px 0;
    background: white;
    height: auto;
    display: none;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  }

  #header nav #links a{
    display: block;
    margin-right: 0;
    padding: 0 20px;
  }

  .fixed-header #header nav #links a.contact-button{
    padding: 0 10px;
    margin: 0 5%;
  }

  #intro{
    padding: 20px 5%;
  }

  #intro p {
    margin-top: 0;
  }

  #home-video #page-title div {
    padding: 20px;
  }

  #home-video #page-title #scroll-indicator {
    visibility: hidden;
  }

  #project-grid {
    margin: 0;
  }

  #project-grid a.project {
    height: auto;
    min-width: 240px;
  }

  #clients {
    margin: 0;
  }

  #clients .section-title {
    padding: 0 10px;
  }

  #clients img {
    margin: 10px;
    max-height: 30px;
    max-width: 100px;
  }

  #tools {
    margin: 10px 20px;
  }

  #project, #project-entry, #project-metadata {
    padding: 20px;
  }

  #features {
    float: none;
    padding-left: 0;
    width: auto;
  }

  #built-for > div:nth-child(2) {
    margin-right: 20px;
  }

  #built-for .logo-image {
    width: 150px;
    margin-right: 0;
  }

  #next-project > div {
    display: block;
  }

  section.text, #data-design-code, #personnel {
    margin: 20px;
  }

  .tool div, .element div {
    padding: 0;
  }

  .well {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .col3 {
    width: auto;
    float: none;
    margin-bottom: 1em;
    padding: 0;
  }

  .person div {
    margin-left: 150px;
  }

  #guide-banner h2, #guide-banner h3 {
    margin: auto 20px;
  }

  section#guides, section.guide-content {
    margin: 0 20px 80px;
  }

  #blog {
    margin: 20px;
  }

  #blog.blogroll article hr {
    margin-bottom: 40px;
  }

  footer {
    padding: 20px ;
  }

  footer > div.footer-nav p {
    display: block;
    padding: 0;
  }

  footer div.footer-nav p.spacer {
    display: none;
  }
}

@media (max-height: 600px), (max-width: 650px) {
  body, body.fixed-header {
    padding-top: 50px;
  }

  #home-video #page-title {
    top: 50px;
  }

  #home-video #page-title h1 {
    font-size: 40px;
  }

  #header{
    position: fixed;
    top: 0;
    z-index: 2;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 3px 5px rgba(0,0,0,.25);
    width: 100%;
    background-color: white;
    box-sizing: border-box;
  }

  #header *{
    height: 30px
  }

  nav {
    line-height: 30px;
  }

  #header .logo {
    height: 30px;
  }

  #menu {
    line-height: 30px;
  }

  @media (max-width: 650px){
    #home-video #page-title h1 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 10px;
    }

    #home-video #page-title h3 {
      margin-bottom: 10px;
    }
  }

  @media (max-height: 500px) {
    #home-video #page-title h1 {
      font-size: 24px;
      line-height: 30px;
    }

    #home-video #page-title h3 {
      font-size: 18px;
      line-height: 22px;
    }

  }
}
