---
layout: default
poster: poster.png
video: home.mp4
heading: We bring the traditions of cartography to the Web.
---

{% include video.html %}

<section id="intro">
  <p>We are Axis Maps. For over 12 years, we have designed and built interactive maps that solve geospatial problems for clients both large and small across the globe. Our custom maps match your visual identity, message, and audience, allowing you to thoughtfully ask and answer questions of your geographic data.</p>
</section>

<section class="text">
  <i class="fal fa-map-signs fa-2x" style="color: #E34A33"></i>
  <h3>How we work</h3>
  <p>All data—especially geographic data—has a story to tell, information that can be visually communicated to an audience. Whether it is communicating a known geographic phenomena in a new and engaging way or building a system that allows users to discover something new, our maps succeed at their purpose because of our process:</p>
  <div class="icon-service">
    <h4>Data</h4>
    <p>It all starts with a thorough understanding of your data. We'll work with you to collect, process, clean, and model your data in the most meaningful way for your purpose and message.</p>
  </div>
  <div class="icon-service">
    <h4>Design</h4>
    <p>We pride ourselves on our thoughtful design, rooted in the traditions of cartographic design as well as contemporary UX, to clearly and elegantly communicate the message of the map.</p>
  </div>
  <div class="icon-service">
    <h4>Code</h4>
    <p>We build all of our interactive projects using open source tools. We will design and implement a technology solution that is right for you, allowing your map to grow and develop with your data.</p>
  </div>
</section>
<div style="display:flex;justify-content:center;align-items:center;clear:both">
  <a href="contact/" id="contact-bar"><b>Contact us</b> today to discuss how our custom geospatial solutions can work for you</a>
</div>

{% include clients.html %}
{% include featured.html %}
{% include tools.html %}
