---
layout: default
poster: poster.png
video: home.mp4
heading: We bring the traditions of cartography to the Web.
---

{% include video.html %}

<section id="intro">
  <p>We are Axis Maps. For over 12 years, we have designed and built interactive maps that solve geospatial problems for clients both large and small across the globe. Our custom maps match your data, visual identity, message, and audience.</p>
</section>

{% include featured.html %}
{% include clients.html %}
{% include tools.html %}
