<section id="all-projects">
	<h2>More projects</h2>
    <h3>Designed &amp; Built by Axis Maps</h3>
    <a class="button hollow" href="{{ '/projects/' }}">Back to featured projects...</a>
	<div id='project-list'>
        {% assign count = 0 %}
        {% assign items = site.projects | sort: 'date' %}
        {% for project in items reversed %}
            {% unless project.featured %}
            <div class="project-short">
                {% assign count = count | plus: 1 %}
                <img class="banner-image" src="/media/banners/{{ project.pid }}.png"/>
                {% if project.link %}
                    <h4><a href="{{project.link}}">{{ project.title }}</a></h4>
                {% else %}
                    <h4>{{ project.title }}</h4>
                {% endif %}
                <h5>{{ project.client }}</h5>
                <p>{{project.content}}</p>
            </div>
  	        {% endunless %}
        {% endfor %}
        <div style="clear:both"></div>
    </div>
    <a class="button hollow" href="{{ '/projects/' }}">Back to projects...</a>
</section>
