<section id="clients">
	<div class=section-title>
		<i class="fal fa-hands-helping fa-2x" style="color: #E34A33"></i>
		<h3>We're pleased to have worked with:</h3>
	</div>
	<div>
		<img src="{{ '/media/clients/smithsonian.png' }}" alt='Smithsonian'>
		<img src="{{ '/media/clients/world_bank.png' }}" alt='World Bank'>
		<!-- <img src="{{ '/media/clients/pure_earth.png' }}" alt='Pure Earth'> -->
		<img src="{{ '/media/clients/merck.png' }}" alt='Merck'>
		<img src="{{ '/media/clients/history.png' }}" alt='History Channel'>
		<!-- <img src="{{ '/media/clients/sage.png' }}" alt='Sage Publications'> -->
		<img src="{{ '/media/clients/esri.png' }}" alt='ESRI'>
		<img src="{{ '/media/clients/pearson.png' }}" alt='Pearson'>
		<img src="{{ '/media/clients/bpl.png' }}" alt='Boston Public Library'>
		<img src="{{ '/media/clients/rice.png' }}" alt='Rice University'>
		<img src="{{ '/media/clients/harvard.png' }}" alt='Harvard University'>
		<img src="{{ '/media/clients/canada.png' }}" alt='Government of Canada'>
		<!-- <img src="{{ '/media/clients/ucla_health.png' }}" alt='UCLA Center for Health Policy Research'> -->
		<!-- <img src="{{ '/media/clients/brandeis.png' }}" alt='Brandeis University'> -->
		<!-- <img src="{{ '/media/clients/internews.png' }}" alt='Internews'> -->
		<!-- <img src="{{ '/media/clients/uw.png' }}" alt='University of Wisconsin'> -->
		<!-- <img src="{{ '/media/clients/duke.png' }}" alt='Duke University'> -->
		<!-- <img src="{{ '/media/clients/denison.png' }}" alt='Denison College'> -->
		<!-- <img src="{{ '/media/clients/espn.png' }}" alt='ESPN'> -->
		<img src="{{ '/media/clients/newyorktimes.png' }}" alt='New York Times'>
	</div>
</section>