<footer>
	<div>
		<h4>Need to get in touch?</h4>
		<p><a class="email-event" href="mailto:info@axismaps.com">info@axismaps.com</a></p>
		<div class="createsend-button" style="height:27px;display:inline-block;" data-listid="y/6E/CEE/3FC/831CAC6B3F924639">
		</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
		<p>Axis Maps<br>PO Box 421<br>Hewitt, TX 76643<br>USA</p>
		<p>For all questions about indiemapper, please visit: <a href="http://indiemapper.io" target="_blank">indiemapper.io</a></p>
		<p>For all questions about typographic maps, please visit: <a href="http://store.axismaps.com" target="_blank">store.axismaps.com</a></p>
	</div>
	<div class="footer-nav">
		<h4>Where was that?</h4>
		{% for page in site.pages %}
			{% if page.omit != true and page.layout != 'redirect' and page.url != '/' %}
				<p><a href="{{ page.url }}">{{ page.title }}</a></p>
			{% endif %}
		{% endfor %}
		<p class="spacer">&nbsp;</p>
		<h4>Made <i class="far fa-at"></i> Axis</h4>
		<p> <a href="{{ '/guide/' }}">Cartography Guide</a></p>
		<p><a href="http://indiemapper.io" target="_blank">Indiemapper</a></p>
		<p><a href="http://colorbrewer2.org" target="_blank">Colorbrewer</a></p>
		<p><a href="http://store.axismaps.com" target="_blank">Typographic Map Store</a></p>
	</div>
	<div class="blog-links">
		<h4><a href="{{ '/blog/' }}">From the blog</a></h4>
		{% for post in site.posts limit: 10 %}
			<p><a href="{{ post.url }}">{{ post.title }}</a></p>
		{% endfor %}
	</div>
	<div>
		<h4><i class="fab fa-twitter"></i> We're on Twitter</h4>
		<p><a class="twitter-timeline" data-dnt="true" href="https://twitter.com/axismaps" data-widget-id="286241540362346496"></a></p>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<p style="clear:both"></p>
	<a href="{{ '/' }}"><img src="{{ '/images/logo_small.png' }}" alt='Axis Maps' class='logo'></a>
	<hr>
	<p class="legal">&copy;2017 Axis Maps. All rights reserved.<br>The material on this site may not be reproduced, distributed, transmitted, or otherwise used, except with the prior permission of Axis Maps.</p>
</footer>