<script src="http://recognitionmedia-production.s3.amazonaws.com/Content/pv/sitebug.js" data-id="69382" data-pos="bottom-right" data-url="2018/websites/features-design/best-data-visualization" data-display-rank="0" id="webby-pv-bug"></script>

<div id="header">
	<a href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/images/logo.png' | prepend: site.baseurl }}" alt='Axis Maps' class='logo'></a>
	<a id="menu">☰</a>
	<nav>
	    <div id="links">
	    	<a href="{{ '/projects/' | prepend: site.baseurl }}">Projects</a>
			<a href="{{ '/about/' | prepend: site.baseurl }}">About</a>
			<a href="{{ '/contact/' | prepend: site.baseurl }}">Contact</a>
		</div>
	</nav>
</div><!-- end #header -->