<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="Axis Maps Data Design Code">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ '/css/normalize.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/syntax.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/fontello.css' | prepend: site.baseurl }}">

  <script src="https://use.typekit.net/iph3uqh.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <script src="{{ '/js/modernizr.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
</head>
