<nav>
	<a id="menu">&#9776;</a>
	<ul>
  	  {% assign items = site.html_pages | sort: 'order' %}
  	  {% for html in items %}
  	    {% if html.nav != last %}
      	  {% if html.nav == page.nav %}
          <li class="current">
        {% else %}
          <li>
        {% endif %}
        {% if html.nav == 'Blog' %}
          <a href="{{ '/blog/' | prepend: site.baseurl }}">
        {% else %}
          <a href="{{ html.url | prepend: site.baseurl | remove: 'index.html' }}">
        {% endif %}
        {{ html.nav }}</a></li>
      {% endif %}
      {% assign last = html.nav %}
  	  {% endfor %}
		<li><a href='http://store.axismaps.com' target="_blank">Store</a></li>
	</ul>
</nav>