<div class="metadata">
  {% if page.date %}
    <div class="metadata-item">
      <i class="icon-table"></i>
      {{ page.date | date: "%b %-d, %Y" }}
    </div>
    
    {% if page.writer %}
      <div class="metadata-item">
        <i class="icon-user"></i>
        {{ page.writer.display_name }}
      </div>
    {% endif %}
  {% else %}
    <div class="metadata-item">
      <i class="icon-table"></i>
      {{ post.date | date: "%b %-d, %Y" }}
    </div>
    
    {% if post.author %}
      <div class="metadata-item">
        <i class="icon-user"></i>
        {{ post.author.display_name }}
      </div>
    {% endif %}
  {% endif %}
</div>