<div class="metadata">
  {% if page.date %}
    <div class="metadata-item">
      <i class="fal fa-calendar-alt"></i>
      {{ page.date | date: "%b %-d, %Y" }}
    </div>
    
    {% if page.writer %}
      <div class="metadata-item">
        <i class="fal fa-user"></i>
        {{ page.writer.display_name }}
      </div>
    {% endif %}
  {% else %}
    <div class="metadata-item">
      <i class="fal fa-calendar-alt"></i>
      {{ post.date | date: "%b %-d, %Y" }}
    </div>
    
    {% if post.writer %}
      <div class="metadata-item">
        <i class="fal fa-user"></i>
        {{ post.writer.display_name }}
      </div>
      {% if post.writer.twitter %}
        <div class="metadata-item twitter">
          <i class="fab fa-twitter"></i>
          <a href="https://twitter.com/{{ post.writer.twitter }}">@{{ post.writer.twitter }}</a>
        </div>
      {% endif %}
    {% endif %}

  {% endif %}
</div>