<div id='slideshow'>
  <div id='controls'><span id='prev'>&#9664;</span><span id='next'>&#9654;</span></div>
  <ul id='slides'>
    <li><img src="{{ 'images/slideshow_start.png' prepend: site.baseurl }}" /></li>
    {% for project in site.projects %}
  	    {% if project.slideshow %}
  	      <li>
  	        <img src="{{ site.baseurl }}/media/slideshow/{{ project.id }}.png" />
  	        <div class="title">{{ project.title }}</div>
  	      </li>
  	      {% increment length %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
<script>
  slideshow( {{ length }}, '#slideshow' );

	$( "#slideshow" )
	  .mouseenter( function(){
		  $( "#slideshow" ).addClass( "hover" );
      $( "#slides .title, #slideshow #controls" ).finish().fadeIn();
    })
    .mouseleave( function(){
			$( "#slideshow" ).removeClass( "hover" );
			$( "#slides .title, #slideshow #controls" ).finish().fadeOut();
		});

  function slideshow( numSlides, slideContainer ){
    	var startSlide = $( "#slides li:first-child" )
        currentSlide = startSlide,
        startPos = { 'left' : '102%' },
        endPos = { 'left' : '0px' },
        count = 1,
        totalSlides = numSlides,
        timer = null,
        playing = false,
        timeDelay = 3000,
        entered = false;
  
    function advance(){
      if( count == totalSlides ){
  		  startSlide
          .css( 'z-index', totalSlides )
          .css( startPos )
          .animate( endPos, 400, function(){
              startSlide.css( 'z-index', '0' ).siblings().css( startPos );
              currentSlide = startSlide;
              count = 1;
          });
      } else {
        currentSlide = currentSlide.next(); 
        currentSlide.animate( endPos, 400, function()
        { 
            count++;
        }); 
      }
    }
      
    function rewind(){
      if( count == 1 ){    
        currentSlide.css( 'z-index', totalSlides ).siblings().css( endPos );
        currentSlide.animate( startPos, 400, function(){
  				count = totalSlides;
  				currentSlide.css( 'z-index', '0' ).css( endPos );
  				currentSlide = $( '#slides li:last-child' );
        });
      } else {
  			currentSlide.animate( startPos, 400, function(){ 
  				currentSlide = currentSlide.prev(); 
  				count--;                 
        });
      }
    }
  
    function playSlides(){
  		timer = setTimeout( function(){
  			advance();
  			timer = setTimeout( playSlides, timeDelay );
  		}, timeDelay );
    }
      
    $( '#next' ).on( 'click', function(){
      	clearTimeout( timer );
      advance();
    });
    
    $( '#prev' ).on( 'click', function(){
      	clearTimeout( timer );
      rewind();
    });
    
    $( slideContainer ).on( 'mouseenter', function(){
      	clearTimeout(timer);
      	entered = true;
    });
    
    $( slideContainer ).on( 'mouseleave', function(){
      	if( entered ) playSlides();
    });
  
    playSlides();
  }
</script>
