<aside class="share-excerpt">
  <span class="share-this">Share this:</span>
  <div class="share-links">
    {% if post.title %}
      <a href="mailto:?subject={{ post.title }}&body={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share by email"><i class="icon-mail-alt"></i>Email</a>
      <a href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site.url }}{{ post.url }}&via=axismaps" rel="nofollow" target="_blank" title="Share on Twitter"><i class="icon-twitter"></i>Twitter</a>
      <a href="https://facebook.com/sharer/sharer.php?t={{ post.title }}&u={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="icon-facebook"></i>Facebook</a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="icon-gplus"></i>Google+</a>
    {% else %}
      <a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share by email"><i class="icon-mail-alt"></i>Email</a>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=axismaps" rel="nofollow" target="_blank" title="Share on Twitter"><i class="icon-twitter"></i>Twitter</a>
      <a href="https://facebook.com/sharer/sharer.php?t={{ post.title }}&u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="icon-facebook"></i>Facebook</a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="icon-gplus"></i>Google+</a>
    {% endif %}
  </div>
</aside>