<hr>
<section id="tools">
    <div class="section-title">
        <h2>Made <i class="far fa-at"></i> Axis</h2>
        <h3>Our tools help you make better maps</h3>
    </div>
    <div class="tool guide">
        <div class="img" style="background-image: url({{ '/images/guide.png' }})"></div>
        <div>
            <h4>Cartography Guide</h4>
            <p>This guide contains insights and tips for making thematic maps. It covers the important concepts in cartography and flags the important decision points in the map-making process.</p>
            <a class="button hollow" href="{{ '/guide/' }}">Cartography Guide</a>
        </div>
    </div>
    <div class="tool indiemapper">
        <div class='img' style="background-image: url({{ '/images/indiemapper.png' }})"></div>
        <div>
            <h4>Indiemapper</h4>
            <p>Indiemapper helps you make static, thematic maps from geographic data by bringing the best of traditional cartographic design to internet map-making.</p>
            <a class="button hollow" href="http://indiemapper.io" target="_blank">Indiemapper</a>
        </div>
    </div>
    <div class="tool colorbrewer">
        <div class="img" style="background-image: url({{ '/images/colorbrewer.png' }})"></div>
        <div>
            <h4>Colorbrewer 2.0</h4>
            <p>Colorbrewer 2.0 is an online tool designed to help people select good color schemes for maps and other graphics.</p>
            <a class="button hollow" href="http://colorbrewer2.org" target="_blank">Colorbrewer</a>
        </div>
    </div>
    <div class="tool typographic">
        <div class="img" style="background-image: url({{ '/images/typographic.png' }})"></div>
        <div>
            <h4>Typographic Maps</h4>
            <p>These detailed city maps are composed solely of type and are hand made by us.</p>
            <a class="button hollow" href="http://store.axismaps.com" target="_blank">Typographic Map Store</a>
        </div>
    </div>
</section>