<hr>
<section id="tools">
    <h4>Made <i class="icon-at"></i> Axis: Tools to help you make better maps</h4>
    <div class="tool guide">
        <div class="img" style="background-image: url({{ '/images/guide.png' | prepend: site.baseurl }})"></div>
        <div>
            <h2>Cartography Guide</h2>
            <p>This guide contains insights and tips for making thematic maps. It covers the important concepts in cartography and flags the important decision points in the map-making process.</p>
            <a class="button hollow" href="{{ '/guide/' | prepend: site.baseurl }}">Cartography Guide</a>
        </div>
    </div>
    <div class="tool indiemapper">
        <div class='img' style="background-image: url({{ '/images/indiemapper.png' | prepend: site.baseurl }})"></div>
        <div>
            <h2>Indiemapper</h2>
            <p>Indiemapper helps you make static, thematic maps from geographic data by bringing the best of traditional cartographic design to internet map-making.</p>
            <a class="button hollow" href="http://indiemapper.io" target="_blank">Indiemapper</a>
        </div>
    </div>
    <div class="tool colorbrewer">
        <div class="img" style="background-image: url({{ '/images/colorbrewer.png' | prepend: site.baseurl }})"></div>
        <div>
            <h2>Colorbrewer 2.0</h2>
            <p>Colorbrewer 2.0 is an online tool designed to help people select good color schemes for maps and other graphics.</p>
            <a class="button hollow" href="http://colorbrewer2.org" target="_blank">Colorbrewer</a>
        </div>
    </div>
    <div class="tool typographic">
        <div class="img" style="background-image: url({{ '/images/typographic.png' | prepend: site.baseurl }})"></div>
        <div>
            <h2>Typographic Maps</h2>
            <p>These detailed city maps are composed solely of type and are handmade by us.</p>
            <a class="button hollow" href="http://store.axismaps.com" target="_blank">Typographic Map Store</a>
        </div>
    </div>
</section>