<div id='home-video'>
  <video playsinline autoplay muted loop poster="{{ '/media/video/' | append: page.poster }}">
    <source src="{{ '/media/video/' | append: page.video }}" type="video/mp4">
  </video>
  <div id="page-title">
    <div>
      <p>&nbsp;</p>
      <h1>{{ page.heading }}</h1>
      <p>&nbsp;</p>
      <h3>{{ page.subheading }}</h3>
      <p>&nbsp;</p>
      <a class="button email-event" href="/contact/"><i class="fas fa-users"></i> Contact us</a>
    </div>
    <a href="#featured-projects" id="scroll-indicator">View Our Work<br/><i class="fas fa-chevron-down"></i></a>
  </div>
</div>
<script>
  $( window ).resize( function(){
    var h = $( window ).height() - $('#header').height() - Math.min(300, $('#intro').outerHeight());
    var w = $( window ).width();
    h = Math.max(300, h);
    if (window.innerWidth < 350) {
      h = Math.max(300, h);
    }
    if( w / h < 16 / 9 ){
      var w1 = h * ( 16 / 9 );
      $( '#page-title' ).removeAttr( 'style' );
      $( "video" )
        .height( h )
        .width( w1 )
        .css( "margin-left", ( w - w1 ) / 2 );
    } else {
      $( "video" ).removeAttr( 'style' ).width( w );
    }
    $( "#home-video, #page-title" ).height( h );
  });

  $( document ).ready( function(){
    $( window ).resize();
    $( "#scroll-indicator" ).animate({ bottom: '-100px', opacity: 1}, 1000 )
      .on('click', function (){
        $('body').animate({
          scrollTop: $('#featured-projects').position().top
        }, 400);
      });
  });
</script>
