---
layout: default
nav: Blog
order: 3
---

<section id="blog" class="blogroll">
  {% for post in paginator.posts %}
    <article>
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="content post">
        {{ post.content }}
      </div>
      {% include social_media.html %}
      {% include post_metadata.html %}
    </article>
  {% endfor %}
  
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <div class="pagination-section">
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous"><i class="icon-left-dir"></i>Previous</a>
      </div>
    {% endif %}
    <div class="pagination-section">
      <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    </div>
    {% if paginator.next_page %}
      <div class="pagination-section">
        <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next<i class="icon-right-dir"></i></a>
      </div>
    {% endif %}
  </div>
</section>
