---
layout: default
title: Axis Maps Blog
description: Updates and tips from Axis Maps
order: 3
omit: true
sitemap: false
---

<section id="blog" class="blogroll">
  {% for post in paginator.posts %}
    <article>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      {% include post_metadata.html %}
      <div class="content post">
        {{ post.content | split:'<!--break-->' | first }}
        {% if post.content contains '<!--break-->' %}
          <a href="{{ post.url }}">Read more...</a>
        {% endif %}
      </div>
      <hr/>
    </article>
  {% endfor %}
  
  <!-- Pagination links -->
  <div class="pagination">
    <div class="pagination-section">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous"><i class="icon-left-dir"></i>Previous</a>
      {% endif %}
    </div>
    <div class="pagination-section">
      <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    </div>
    <div class="pagination-section">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next<i class="icon-right-dir"></i></a>
      {% endif %}
    </div>
  </div>
</section>
