<!DOCTYPE html>
<html>
  {% include meta.html %}
  <body>
    {% include ga.html %}
    <div id="wrapper">
      {% include header.html %}
      {% if page.path == 'index.html' %}
        {% include slideshow.html %}
      {% endif %}
      {% include nav.html %}
      
      <div id="main">
        <div id="main-content">
          {{ content }}
        </div>
        {% if page.path == 'index.html' %}
          {% include sidebar.html %}
        {% endif %}
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
