<!DOCTYPE html>
<html>
  {% include meta.html %}
  <body>
    {% include ga.html %}
    {% include header.html %}
    <div id="guide-banner">
      <a href="{{ site.baseurl }}/guide">
        <h2>Cartography Guide</h2>
        <h3>A short, friendly guide to basic principles of map design</h3>
      </a>
    </div>
    <section class="guide-content">
      <div class="content">
        <h2>{{ page.title }}</h2>
        {{ content }}
      </div>
      <div class="pagenav">
        <hr/>
        {% if page.previous %}
          <div class="pagenav-section" style="float:left">
            <span class="pagenav-title">Previous: </span>
            <a href="{{ site.baseurl }}{{ page.previous.url }}" class="previous">{{page.previous.title}}</a>
          </div>
        {% endif %}
        {% if page.next %}
          <div class="pagenav-section" style="float:right">
            <span class="pagenav-title">Next: </span>
            <a href="{{ site.baseurl }}{{ page.next.url }}" class="next">{{page.next.title}}</a>
          </div>
        {% endif %}
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
