<!DOCTYPE html>
<html>
  {% include meta.html %}
  <body>
    {% include ga.html %}
    {% include header.html %}
    <div id="guide-banner">
      <a href="/guide">
        <h2>Cartography Guide</h2>
        <h3>A short, friendly guide to basic principles of map design</h3>
      </a>
    </div>
    <section class="guide-content">
      <div class="content">
        <h2>{{ page.title }}</h2>
        {{ content }}
        <br />
        <span class="license">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />
          <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Cartography Guide</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.axismaps.com/guide/" property="cc:attributionName" rel="cc:attributionURL">Axis Maps</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </span>
      </div>
      <div class="pagenav">
        <hr/>
        {% if page.previous %}
          <div class="pagenav-section" style="float:left">
            <span class="pagenav-title">Previous: </span>
            <a href="{{ page.previous.url }}" class="previous">{{page.previous.title}}</a>
          </div>
        {% endif %}
        {% if page.next %}
          <div class="pagenav-section" style="float:right">
            <span class="pagenav-title">Next: </span>
            <a href="{{ page.next.url }}" class="next">{{page.next.title}}</a>
          </div>
        {% endif %}
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
