---
layout: default
---
<section id="blog" class="singleblog">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% include post_metadata.html %}
  </header>

  <article>
    <div class="post content">
      {{ content }}

      {% if page.project %}
        {% for project in site.projects %}
          {% if page.project == project.pid %}
            <a class="mini-portfolio button hollow" href="{{ project.url | prepend: site.baseurl }}">
              <div class="mini-image" id="mp{% increment length %}" style="background-image: url({{ site.baseurl }}/media/banners/{{ project.pid }}.png)"></div>
              <p><strong>{{ project.titleshort }}</strong> - {{ project.clientshort }}<br /><em>{{ project.tag }}</em></p>
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </article>
  

  <!-- Page Nav links -->
  {% if page.omit_nav != true %}
  <div class="pagenav">
    {% if page.previous %}
      <div class="pagenav-section" style="float:left">
        <span class="pagenav-title">Previous: </span>
        <a href="{{ site.baseurl }}{{ page.previous.url }}" class="previous">{{page.previous.title}}</a>
      </div>
    {% endif %}
    {% if page.next %}
      <div class="pagenav-section" style="float:right">
        <span class="pagenav-title">Next: </span>
        <a href="{{ site.baseurl }}{{ page.next.url }}" class="next">{{page.next.title}}</a>
      </div>
    {% endif %}
  </div>
  {% endif %}

</section>
