<!DOCTYPE html>
<html>
  {% include meta.html %}
  <body>
    {% include ga.html %}
      {% include header.html %}
      {% if page.video %}
        <div id="poster">
            <iframe class="video full" src="http://player.vimeo.com/video/{{ page.video }}" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      {%  else %}
        <img src="{{ site.baseurl }}/media/banners/{{ page.pid }}.png" class="banner">
      {% endif %}
      <section id="project">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.tag }}</h3>
        <h5>{{ page.client }}</h5>
        {% if page.link %}
          <a href="{{ page.link }}" target="_blank" class="button"><i class="icon-globe"></i> View the map</a><br />
        {% endif %}
      </section>
      
      <section id="project-entry">
        {% if page.features %}
          <div id="features">
            {% for feature in page.features %}
              <div>
                {% if feature contains '\gif\' %}
                  <img src="{{ site.baseurl }}/media/features/{{ page.pid }}/{{ forloop.index0 }}.gif">
                {% else %}
                  <img src="{{ site.baseurl }}/media/features/{{ page.pid }}/{{ forloop.index0 }}.png">
                {% endif %}
                <span>{{ feature | remove: "\gif\ " }}</span>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {{ content }}

        {%  if page.github %}
          <a class="button hollow" href="{{ page.github }}" target="_blank"><span class="icon-github-circled"></span> View the source on Github</a>
        {% endif %}
      </section>

      <section id="project-metadata">
        {% if page.logo %}
          <div id="built-for">
            <div class="logo-image" style="background-image: url({{ site.baseurl }}/media/clients/{{ page.logo }})"></div>
            <div>
              <h4>Built with and for:</h4>
              <h5>{{ page.client }}</h5>
            </div>
          </div>
        {% endif %}
		  <div id="related">	
        {% assign s = site.projects | where: "category", page.category | size %}
        {% if page.category and s > 1 %}
          <h4>More {{ page.category | downcase }} projects</h4>
          <ul>
            {% assign items = site.projects | sort: 'date' %}
            {% for project in items reversed %}
              {% if project.category == page.category and project.featured and project.title != page.title %}
                <li><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
          
        {% assign blog = false %}
        {% assign posts = site.posts | sort: 'date' %}
        {% for post in posts %}
          {% if post.project == page.pid %}
            {% assign blog = true %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% if blog %}
          <br />
          <h4>From the blog</h4>
          <ul>
            {% for post in posts reversed %}
              {% if post.project == page.pid %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
          </div>
        <div id="next-project">
          {% assign items = site.projects | sort: 'date' %}
          {% assign current = false %}
          {% for project in items reversed %}
            {% if project.featured %}
              {% if current == true %}
                <a class="project" href="{{ project.url | prepend: site.baseurl }}">
                  <div class="grid-image" style="background-image: url({{ site.baseurl }}/media/banners/{{ project.pid }}.png)"></div>
                </a>
                <div>
                  <a class="button hollow" href="{{ project.url | prepend: site.baseurl }}">Next project ></a>
                  <h2>{{ project.title }}</h2>
                  <h5>{{ project.client }}</h5>
                </div>
                {% break %}
              {% endif %}
              {% if project.pid == page.pid %}
                {% assign current = true %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </section>
      {% include footer.html %}
    </div>
    <script>
      $( window ).resize( function(){
        $( '#poster' ).height( Math.min(window.innerHeight - 200, 720 * $( '#poster' ).width() / 1280 ));
      });
      $( window ).resize();
      
      {% if page.video %}
        $.getJSON( "http://vimeo.com/api/v2/video/{{ page.video }}.json", function( json ){
          $( "#video-thumb" ).css( "background-image", "url(" + json[ 0 ].thumbnail_medium + ")" );
        });
      {% endif %}

      {% if page.features %}
        var modal = $('<div>')
          .attr('class', 'image-modal')
          .appendTo('body')
          .hide();
        $('<i class="icon-times">')
          .click(function (){
            modal.hide();
          })
          .appendTo(modal);

        var i = 0;
        var l = $('#features img').length;

        var left = $('<i class="icon-left-dir">')
          .click(function(){imageModal(i - 1);})
          .appendTo(modal);

        var right = $('<i class="icon-right-dir">')
          .click(function(){imageModal(i + 1);})
          .appendTo(modal);

        $('#features img').click(function () {
          imageModal($('#features img').index(this));
        })

        function imageModal (index) {
          if (index < 0) index = l-1;
          if (index >= l) index = 0;
          i = index;

          $('div', modal).remove();

          $('<div>')
            .append($('#features img').eq(index).clone())
            .append('<br>')
            .append($('#features span').eq(index).clone())
            .prependTo(modal);

          modal.show();
        }
      {% endif %}
    </script>
  </body>
</html>
