<!DOCTYPE html>
<html>
  {% include meta.html %}
  <body>
    {% include ga.html %}
    <div id="wrapper">
      {% include header.html %}
      {% include nav.html %}
      <section id="project">
        {% if page.video %}
          <iframe class="video" src="https://player.vimeo.com/video/{{ page.video }}" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {%  else %}
          <img src="{{ site.baseurl }}/media/slideshow/{{ page.id }}.png">
        {% endif %}
        <div class="content">
          <header>
            <h1>{{ page.title }}</h1>
            <b>{{ page.client }}</b><br />
            <em>{{ page.tag }}</em><br />
            {% if page.link %}
              <br /><a href="{{ page.link }}" target="_blank">View the map</a><br />
            {% endif %}
          </header>
          <hr />
          {% if page.features %}
            <div id="features">
              {% for feature in page.features %}
                <img src="{{ site.baseurl }}/media/features/{{ page.id }}/{{ forloop.index0 }}.png" title="{{ feature }}">
              {% endfor %}
            </div>
            <hr />
          {% endif %}
          {{ content }}
          <hr />
          {% if page.category %}
            <h2>More {{ page.category | downcase }} projects</h2>
            <ul>
              {% assign items = site.projects | sort: 'date' %}
              {% for project in items reversed %}
                {% if project.category == page.category and project.featured and project.title != page.title %}
                  <li><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
          
          {% assign blog = false %}
          {% assign posts = site.posts | sort: 'date' %}
          {% for post in posts %}
            {% if post.project == page.id %}
              {% assign blog = true %}
              {% break %}
            {% endif %}
          {% endfor %}
          {% if blog %}
            <h2>From the blog</h2>
            <ul>
              {% for post in posts reversed %}
                {% if post.project == page.id %}
                  <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </section>
      {% include footer.html %}
    </div>
    <script>
      $( window ).resize( function(){
        $( 'iframe.video' ).height( 720 * $( 'iframe.video' ).width() / 1280 );
      });
      $( window ).resize();
      $( "#features img:not( .big )" )
        .tooltipster()
        .click( function(){
          $( "#features img.big").remove();
          $( "#features" ).prepend( $( this ).clone().addClass( "big") );
        })
    </script>
  </body>
</html>
